
#header, h1, h2, h3, h4, body {
    font-family: 'Archivo', sans-serif;
    width: 100%;
    height: auto;
}

div{
    position: relative;
}

.title{
    padding: 25px;
}


footer {
    font-family: Arial;
    color: black;
    text-align: center;
    font-size:10px;
}

.img.thumbnail {
    border-style: none;
}

.container-fluid {
    position: absolute;
    right: 0px;
}

.row.display-flex{
    display: flex;
    flex-wrap:wrap;
}

.row.display-flex li{
    flex-grow:1;
}

.navbar.navbar-default{
    height:100%;
    padding-right: 30px;
}

.calendar{
    text-align: center;
}

.fa{
    color: black;
}

.homeimages {
    width:70%;
    height:70%;
    padding-bottom: 4%;

}

.homeimageheadings {
    font-family:'Archivo', sans-serif;
    text-align:center;
}

.pagetext {
    text-align:center;
}


.iframe {
    display: block;
  width: 100%;
}

.iframeoverlay {
position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  width:100%;
  transition: .5s ease;
  background-color: black;
}

.example {
     position: relative;
  width: 50%;
}
.example:hover .iframeoverlay {
  opacity: 0.5;
}

.overlaytext {
    font-size:17px;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
}

#examplelink {
    color:white;
    font-family:'Archivo', sans-serif;
}


.hometext {
    text-align:center;
}



.progressexample {
    padding:5%;
}

.google{
    width:100% ;
    height:650px ;
    border:0px;
    overflow: auto;
    
    
}


.navbar-nav>li>a.navigation {
    width: 165px;
    padding-bottom: 10%;
    padding-top: 15%;
    color: black  !important;
}


ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
}

    
#navgradient {
  background: linear-gradient(to right, #87E054, #E7FCDB);
  
}
.examplegradient {
    background: linear-gradient(to right, #87E054, #E7FCDB);
    height:8px;
    width:450px;
}


a.navigation:active {
    font-weight:bolder;
}


.navbar-nav>li>a.navigation:hover {
    background-color:#E7FCDB;
    
}


