
#header, h1, h2, h3, h4, body {
    font-family: 'Archivo', sans-serif;
    width: 100%;
    height: auto;
}

div{
    position: relative;
}

.title{
    padding: 25px;
}


footer {
    font-family: Arial;
    color: black;
    text-align: center;
}

.img.thumbnail {
    border-style: none;
}

.container-fluid {
    position: absolute;
    right: 0px;
}

.row.display-flex{
    display: flex;
    flex-wrap:wrap;
}

.row.display-flex li{
    flex-grow:1;
}

.navbar.navbar-default{
    height:100%;
}

.calendar{
    text-align: center;
}

.fa{
    color: black;
}

.homeimages {
    width:70%;
    height:70%;
    padding-bottom: 4%;

}

.homeimageheadings {
    font-family:'Archivo', sans-serif;
    text-align:center;
}

p.pagetext {
    text-align:center;
}

.iframe:hover {
    opacity:0.5;
}
.iframe {
    border:5px #5ad73a solid;
    border-radius:2%;
   
}


.iframeoverlay {
    display:none;
    font-family:'Archivo', sans-serif;
    position:absolute;
    top:50%;
    z-index:1;
    width:100%;
    height:300px;
    text-align:center;

   
}

.iframe:hover + .iframeoverlay{
    display:block;
  
}

.overlaylink {
    width:100%;
    height:300px;
    z-index:2;
}

.hometext {
    text-align:center;
}

#hometext {
    padding-bottom:10%;
}

#progressexample {
    padding:5%;
}

.navbar-nav>li>a.navigation {
    padding-top: 35%;
    line-height: 100%;
}

ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
}
